Repository element-hq/element-android, pull requests merged in 2020-10, with the labels that each got.

#2158 Feature/fix draft
  CHANGES.md
  matrix-sdk-android-rx/src/main/java/org/matrix/android/sdk/rx/RxRoom.kt
  matrix-sdk-android/src/main/java/org/matrix/android/sdk/api/session/room/send/DraftService.kt
  matrix-sdk-android/src/main/java/org/matrix/android/sdk/internal/session/room/draft/DefaultDraftService.kt
  matrix-sdk-android/src/main/java/org/matrix/android/sdk/internal/session/room/draft/DraftRepository.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailAction.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailFragment.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailViewModel.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailViewState.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomMessageTouchHelperCallback.kt
  vector/src/main/res/layout/item_room.xml
Labels: feature:draft

#2212 Add "jump to read receipt" and "mention" actions from room member detail screen
  CHANGES.md
  matrix-sdk-android/src/main/java/org/matrix/android/sdk/api/session/room/read/ReadService.kt
  matrix-sdk-android/src/main/java/org/matrix/android/sdk/internal/session/room/read/DefaultReadService.kt
  vector/src/main/java/im/vector/app/core/di/VectorComponent.kt
  vector/src/main/java/im/vector/app/core/utils/TemporaryStore.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailAction.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailFragment.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailPendingAction.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailPendingActionStore.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailViewModel.kt
  vector/src/main/java/im/vector/app/features/roommemberprofile/RoomMemberProfileController.kt
  vector/src/main/java/im/vector/app/features/roommemberprofile/RoomMemberProfileFragment.kt
  vector/src/main/java/im/vector/app/features/roommemberprofile/RoomMemberProfileViewModel.kt
  vector/src/main/java/im/vector/app/features/roommemberprofile/RoomMemberProfileViewState.kt
  vector/src/main/java/im/vector/app/features/roomprofile/RoomProfileActivity.kt
Labels: parity-with-riot-android, parity-with-web

#2311 Room member profile: Add action to create (or open) a DM (#2310)
  CHANGES.md
  matrix-sdk-android/src/androidTest/java/org/matrix/android/sdk/common/CryptoTestHelper.kt
  matrix-sdk-android/src/main/java/org/matrix/android/sdk/api/session/room/RoomService.kt
  matrix-sdk-android/src/main/java/org/matrix/android/sdk/internal/session/room/DefaultRoomService.kt
  matrix-sdk-android/src/main/java/org/matrix/android/sdk/internal/session/room/RoomGetter.kt
  vector/src/main/java/im/vector/app/features/crypto/verification/VerificationBottomSheetViewModel.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailAction.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailFragment.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailPendingAction.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailViewEvents.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailViewModel.kt
  vector/src/main/java/im/vector/app/features/roommemberprofile/RoomMemberProfileController.kt
  vector/src/main/java/im/vector/app/features/roommemberprofile/RoomMemberProfileFragment.kt
  vector/src/main/res/values/strings.xml
Labels: parity-with-web
