Repository element-hq/element-android, pull requests merged in 2022-01, with the labels that each got.

#4790 Timeline recycling crash
  changelog.d/4789.bugfix
  vector/src/main/java/im/vector/app/features/home/room/detail/timeline/item/MessageTextItem.kt
Labels: Z-Crash

#4738 Cloning the `Login` fragments to `FtueAuth`
  vector/src/main/java/im/vector/app/core/di/FragmentModule.kt
  vector/src/main/java/im/vector/app/core/di/MavericksViewModelModule.kt
  vector/src/main/java/im/vector/app/features/onboarding/OnboardingAuthVariant.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/AbstractFtueAuthFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/AbstractSSOFtueAuthFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthCaptchaFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthGenericTextInputFormFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthLoginFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthResetPasswordFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthResetPasswordMailConfirmationFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthResetPasswordSuccessFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthServerSelectionFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthServerUrlFormFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthSignUpSignInSelectionFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthSplashFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthWaitForEmailFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthWebFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/terms/FtueAuthTermsFragment.kt
Labels: Z-FTUE

#4740 Automatic carousel rotation
  library/ui-styles/src/main/res/drawable/bg_carousel_page_1.xml
  library/ui-styles/src/main/res/drawable/bg_carousel_page_2.xml
  library/ui-styles/src/main/res/drawable/bg_carousel_page_3.xml
  library/ui-styles/src/main/res/drawable/bg_carousel_page_4.xml
  vector/src/debug/java/im/vector/app/features/debug/features/DebugFeaturesStateFactory.kt
  vector/src/main/java/im/vector/app/core/extensions/Integer.kt
  vector/src/main/java/im/vector/app/core/extensions/ViewPager2.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthSplashCarouselFragment.kt
Labels: Z-FTUE

#4914 Disabling automatic carousel transitions on user interaction
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthSplashCarouselFragment.kt
Labels: Z-FTUE

#4918 Locking phones to portrait during FTUE onboarding
  library/ui-styles/src/main/res/values-sw600dp/tablet.xml
  library/ui-styles/src/main/res/values/tablet.xml
  vector/src/main/java/im/vector/app/core/platform/ScreenOrientationLocker.kt
  vector/src/main/java/im/vector/app/features/analytics/ui/consent/AnalyticsOptInActivity.kt
  vector/src/main/java/im/vector/app/features/onboarding/OnboardingVariantFactory.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthVariant.kt
Labels: Z-FTUE

#4101 Add "Create room" shortcut in Explore Space screen
  changelog.d/3932.bugfix
  vector/src/main/java/im/vector/app/features/navigation/DefaultNavigator.kt
  vector/src/main/java/im/vector/app/features/navigation/Navigator.kt
  vector/src/main/java/im/vector/app/features/roomdirectory/RoomDirectorySharedAction.kt
  vector/src/main/java/im/vector/app/features/roomdirectory/createroom/CreateRoomActivity.kt
  vector/src/main/java/im/vector/app/features/roomdirectory/createroom/CreateRoomFragment.kt
  vector/src/main/java/im/vector/app/features/roomdirectory/createroom/CreateRoomViewModel.kt
  vector/src/main/java/im/vector/app/features/roomdirectory/createroom/CreateRoomViewState.kt
  vector/src/main/java/im/vector/app/features/spaces/SpaceExploreActivity.kt
  vector/src/main/java/im/vector/app/features/spaces/explore/SpaceDirectoryFragment.kt
  vector/src/main/java/im/vector/app/features/spaces/explore/SpaceDirectoryViewAction.kt
  vector/src/main/java/im/vector/app/features/spaces/explore/SpaceDirectoryViewEvents.kt
  vector/src/main/java/im/vector/app/features/spaces/explore/SpaceDirectoryViewModel.kt
  vector/src/main/java/im/vector/app/features/spaces/manage/SpaceAddRoomSpaceChooserBottomSheet.kt
  vector/src/main/res/layout/bottom_sheet_add_rooms_or_spaces_to_space.xml
  vector/src/main/res/layout/fragment_space_directory.xml
Labels: A-Spaces, Z-NextRelease

#4927 FTUE Use case UI/UX
  vector/src/debug/java/im/vector/app/features/debug/features/DebugFeaturesStateFactory.kt
  vector/src/debug/java/im/vector/app/features/debug/features/DebugVectorFeatures.kt
  vector/src/main/java/im/vector/app/core/di/FragmentModule.kt
  vector/src/main/java/im/vector/app/core/extensions/TextView.kt
  vector/src/main/java/im/vector/app/features/VectorFeatures.kt
  vector/src/main/java/im/vector/app/features/onboarding/FtueUseCase.kt
  vector/src/main/java/im/vector/app/features/onboarding/OnboardingAction.kt
  vector/src/main/java/im/vector/app/features/onboarding/OnboardingViewEvents.kt
  vector/src/main/java/im/vector/app/features/onboarding/OnboardingViewModel.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthSplashCarouselFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthSplashFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthUseCaseFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthVariant.kt
  vector/src/main/res/drawable/ic_communities.xml
  vector/src/main/res/drawable/ic_friends_and_family.xml
  vector/src/main/res/drawable/ic_onboarding_use_case_icon.xml
  vector/src/main/res/drawable/ic_teams.xml
  vector/src/main/res/layout/fragment_ftue_auth_splash.xml
  vector/src/main/res/layout/fragment_ftue_auth_use_case.xml
  vector/src/main/res/layout/fragment_ftue_splash_carousel.xml
  vector/src/main/res/values/donottranslate.xml
Labels: Z-FTUE

#4964 Enabling FTUE splash carousel
  changelog.d/4584.feature
  library/ui-styles/src/main/res/drawable/bg_carousel_page_dark.xml
  vector/src/androidTest/java/im/vector/app/ui/robot/OnboardingRobot.kt
  vector/src/main/java/im/vector/app/features/VectorFeatures.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthSplashCarouselFragment.kt
  vector/src/main/java/im/vector/app/features/onboarding/ftueauth/FtueAuthSplashFragment.kt
  vector/src/main/res/layout/fragment_ftue_auth_splash.xml
  vector/src/main/res/layout/fragment_ftue_splash_carousel.xml
  vector/src/main/res/values/donottranslate.xml
  vector/src/main/res/values/strings.xml
Labels: Z-FTUE

#4041 Fix switch to best space when tapping notification
  changelog.d/3839.bugfix
  vector/src/main/java/im/vector/app/AppStateHandler.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailFragment.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailViewModel.kt
  vector/src/main/java/im/vector/app/features/home/room/detail/RoomDetailViewState.kt
  vector/src/main/java/im/vector/app/features/notifications/NotificationUtils.kt
Labels: A-Spaces, Z-NextRelease

#5012 Missing fdroid notifications
  changelog.d/5003.bugfix
  matrix-sdk-android/src/main/java/org/matrix/android/sdk/internal/session/sync/job/SyncWorker.kt
Labels: Z-fdroid

#5008 Speed up event match regex evaluation for big messages
  changelog.d/5008.bugfix
  matrix-sdk-android/src/main/java/org/matrix/android/sdk/api/pushrules/EventMatchCondition.kt
Labels: Z-Community-PR
